In [ ]:
# TASK 1: DATA CLEANING - TITANIC DATASET
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("="*60)
print("STEP 1: LOAD AND PREVIEW DATA")
print("="*60)

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
print("\n✓ Dataset loaded!")
print(f"Shape: {df.shape}")
print(df.head())
print(f"\nData Types:\n{df.dtypes}")
print(f"\nBasic Stats:\n{df.describe()}")

print("\n" + "="*60)
print("STEP 2: MISSING VALUE ANALYSIS")
print("="*60)
missing_data = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_df = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count': missing_data.values,
    'Percentage': missing_percent.values
})
print("\nMissing Values:")
print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False))

print("\n" + "="*60)
print("STEP 3: HANDLE MISSING VALUES")
print("="*60)
age_median = df['Age'].median()
df['Age'].fillna(age_median, inplace=True)
print(f" ✓ Filled Age with median: {age_median}")
embarked_mode = df['Embarked'].mode()[0]
df['Embarked'].fillna(embarked_mode, inplace=True)
print(f" ✓ Filled Embarked with mode: {embarked_mode}")
df.drop('Cabin', axis=1, inplace=True)
print(" ✓ Dropped Cabin column")
print(f"Total missing values now: {df.isnull().sum().sum()}")

print("\n" + "="*60)
print("STEP 4: REMOVE DUPLICATES")
print("="*60)
duplicates_before = df.duplicated().sum()
if duplicates_before > 0:
    df.drop_duplicates(inplace=True)
print(f" ✓ Removed {duplicates_before} duplicates")

print("\n" + "="*60)
print("STEP 5: CHECK INCONSISTENCIES")
print("="*60)
print(f"Passenger Class: {sorted(df['Pclass'].unique())}")
print(f"Sex: {df['Sex'].unique()}")
print(f"Embarked: {df['Embarked'].unique()}")
print(" ✓ Categorical columns are consistent")

print("\n" + "="*60)
print("STEP 6: DETECT OUTLIERS")
print("="*60)
print("\nAge Outliers (IQR method):")
Q1_age = df['Age'].quantile(0.25)
Q3_age = df['Age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
lower = Q1_age - 1.5 * IQR_age
upper = Q3_age + 1.5 * IQR_age
outliers_age = df[(df['Age'] < lower) | (df['Age'] > upper)]
print(f" Q1: {Q1_age}, Q3: {Q3_age}, IQR: {IQR_age}")
print(f" Bounds: [{lower}, {upper}]")
print(f" Found {len(outliers_age)} outliers (realistic values)")

print("\nFare Outliers (IQR method):")
Q1_fare = df['Fare'].quantile(0.25)
Q3_fare = df['Fare'].quantile(0.75)
IQR_fare = Q3_fare - Q1_fare
lower_fare = Q1_fare - 1.5 * IQR_fare
upper_fare = Q3_fare + 1.5 * IQR_fare
outliers_fare = df[(df['Fare'] < lower_fare) | (df['Fare'] > upper_fare)]
print(f" Q1: {Q1_fare}, Q3: {Q3_fare}, IQR: {IQR_fare}")
print(f" Bounds: [{lower_fare}, {upper_fare}]")
print(f" Found {len(outliers_fare)} outliers (realistic values)")

print("\n" + "="*60)
print("STEP 7: ENCODE CATEGORICAL VARIABLES")
print("="*60)
print("\nOriginal Sex:")
print(df['Sex'].head(5))
df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
print("\nEncoded Sex (1=male, 0=female):")
print(df['Sex'].head(5))

print("\n" + "="*60)
print("STEP 8: FINAL SUMMARY")
print("="*60)
print(f"\n✓ Final Shape: {df.shape}")
print(f"✓ Rows: {df.shape[0]}, Columns: {df.shape[1]}")
print(f"✓ Missing Values: {df.isnull().sum().sum()}")
print(f"\nFinal Columns: {df.columns.tolist()}")
print("\nFinal Preview:")
print(df.head())
print("\nFinal Statistics:")
print(df.describe())

# Save
output_path = "titanic_cleaned.csv"
df.to_csv(output_path, index=False)
print(f"\n✓ Cleaned dataset saved as: {output_path}")

print("\n" + "="*60)
print("SUMMARY OF CHANGES")
print("="*60)
print("""
1. ✓ Loaded Titanic dataset (891 rows, 12 columns)
2. ✓ Handled Missing Values:
   - Filled Age with median (177 values)
   - Filled Embarked with mode (2 values)
   - Dropped Cabin column (77% missing)
3. ✓ Removed Duplicates: 0 duplicates
4. ✓ Fixed Inconsistencies: Checked all categorical columns
5. ✓ Detected Outliers: Found realistic outliers in Age and Fare
6. ✓ Encoded: Sex converted to 1/0
7. ✓ Final: 891 rows, 11 columns
8. ✓ Saved: titanic_cleaned.csv
""")

============================================================
STEP 1: LOAD AND PREVIEW DATA
============================================================

✓ Dataset loaded!
Shape: (891, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Data Types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Basic Stats:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

============================================================
STEP 2: MISSING VALUE ANALYSIS
============================================================

Missing Values:
      Column  Missing_Count  Percentage
10     Cabin            687   77.104377
5        Age            177   19.865320
11  Embarked              2    0.224467

============================================================
STEP 3: HANDLE MISSING VALUES
============================================================
 ✓ Filled Age with median: 28.0
 ✓ Filled Embarked with mode: S
 ✓ Dropped Cabin column
Total missing values now: 0

============================================================
STEP 4: REMOVE DUPLICATES
============================================================
 ✓ Removed 0 duplicates

============================================================
STEP 5: CHECK INCONSISTENCIES
============================================================
Passenger Class: [np.int64(1), np.int64(2), np.int64(3)]
Sex: ['male' 'female']
Embarked: ['S' 'C' 'Q']
 ✓ Categorical columns are consistent

============================================================
STEP 6: DETECT OUTLIERS
============================================================

Age Outliers (IQR method):
 Q1: 22.0, Q3: 35.0, IQR: 13.0
 Bounds: [2.5, 54.5]
 Found 66 outliers (realistic values)

Fare Outliers (IQR method):
 Q1: 7.9104, Q3: 31.0, IQR: 23.0896
 Bounds: [-26.724, 65.6344]
 Found 116 outliers (realistic values)

============================================================
STEP 7: ENCODE CATEGORICAL VARIABLES
============================================================

Original Sex:
0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

Encoded Sex (1=male, 0=female):
0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

============================================================
STEP 8: FINAL SUMMARY
============================================================

✓ Final Shape: (891, 11)
✓ Rows: 891, Columns: 11
✓ Missing Values: 0

Final Columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked']

Final Preview:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Embarked
0         A/5 21171   7.2500        S
1          PC 17599  71.2833        C
2  STON/O2. 3101282   7.9250        S
3            113803  53.1000        S
4            373450   8.0500        S

Final Statistics:
       PassengerId    Survived      Pclass         Sex         Age  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.647587   29.361582
std     257.353842    0.486592    0.836071    0.477990   13.019697
min       1.000000    0.000000    1.000000    0.000000    0.420000
25%     223.500000    0.000000    2.000000    0.000000   22.000000
50%     446.000000    0.000000    3.000000    1.000000   28.000000
75%     668.500000    1.000000    3.000000    1.000000   35.000000
max     891.000000    1.000000    3.000000    1.000000   80.000000

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

✓ Cleaned dataset saved as: titanic_cleaned.csv

============================================================
SUMMARY OF CHANGES
============================================================

1. ✓ Loaded Titanic dataset (891 rows, 12 columns)
2. ✓ Handled Missing Values:
   - Filled Age with median (177 values)
   - Filled Embarked with mode (2 values)
   - Dropped Cabin column (77% missing)
3. ✓ Removed Duplicates: 0 duplicates
4. ✓ Fixed Inconsistencies: Checked all categorical columns
5. ✓ Detected Outliers: Found realistic outliers in Age and Fare
6. ✓ Encoded: Sex converted to 1/0
7. ✓ Final: 891 rows, 11 columns
8. ✓ Saved: titanic_cleaned.csv

/tmp/ipython-input-1580298354.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_median, inplace=True)
/tmp/ipython-input-1580298354.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(embarked_mode, inplace=True)